body {
    font-family: Arial, sans-serif;
}

.intro p {
    margin-bottom: 1em;
    line-height: 1.6;
    text-align: justify;
}

/* Ensures that the intro section doesn't get too wide on larger screens */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}


.profile-pic {
    float: left; /* Align the image to the left of the header */
    width: 120px; /* Adjust the size as needed */
    height: 120px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes the image circular */
    border: 5px solid rgba(255, 255, 255, 0.5); /* White transparent border */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    margin-right: 20px; /* Adds some space between the image and the header text */
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0;
    font-size: 1em;
}

header a {
    color: #069;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}


/* Styles that apply when the screen width is less than 768px (Tablets and below) */
@media (max-width: 768px) {
    .profile-pic {
        width: 80px;
        height: 80px;
    }

    header h1 {
        font-size: 1.5em;
    }

    .contact-info, .intro {
        padding: 0 15px;
    }
}

/* Styles that apply when the screen width is less than 480px (Phones) */
@media (max-width: 480px) {
    .container {
        width: 95%;
    }

    .profile-pic {
        width: 60px;
        height: 60px;
    }

    header h1 {
        font-size: 1.2em;
    }

    .contact-info, .intro {
        padding: 0 10px;
    }

    header, .contact-info, .intro p {
        font-size: 0.9em;
    }

    /* Make the collapsible content stack vertically */
    .collapsible, .content {
        width: 100%;
        box-sizing: border-box;
    }
}

.collapsible {
    background-color: #f2f2f2;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #ddd;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
}

/* Additional styling for sections */
